Makefile
Makefile.in
aclocal.m4
config.log
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
config/test-driver
configure
contrib/.deps/
contrib/Makefile
contrib/Makefile.in
doc/Makefile
doc/Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
*~
NOTES.txt
autom4te.cache
contrib/cbif.o
src/*.o
src/*.i
src/*.s
src/ior

doc/doxygen/build
doc/sphinx/_*/
!doc/sphinx/Makefile
