#/*****************************************************************************\
#*                                                                             *
#*       Copyright (c) 2003, The Regents of the University of California       *
#*     See the file COPYRIGHT for a complete copyright notice and license.     *
#*                                                                             *
#*******************************************************************************
#*
#* CVS info:
#*   $RCSfile: Makefile.config,v $
#*   $Revision: 1.3 $
#*   $Date: 2008/12/02 17:12:14 $
#*   $Author: rklundt $
#*
#* Purpose:
#*       Maintain compilation settings for various platforms.
#*
#\*****************************************************************************/

################
# AIX SETTINGS #
################
CC.AIX = mpcc -q64
CCFLAGS.AIX = -g -D_LARGE_FILES
# -qwarn64 -qinfo=all -D_NO_MPI_TIMER
LDFLAGS.AIX = #-bmaxdata:0x80000000
HDF5_DIR.AIX = /usr/local/tools/hdf5/hdf5-1.6.5/parallel
#NCMPI_DIR.AIX = /usr/local/netcdf/parallel-netcdf-0.9.4_64bit
NCMPI_DIR.AIX = /g/g0/$(shell whoami)/LIBS/INSTALLS/parallel-netcdf-1.0.2pre2/aix_5_64_fed

###################
# IRIX64 SETTINGS #
###################
CC.IRIX64 = /usr/local/mpich-1.2.2/irix-n32/bin/mpicc
CCFLAGS.IRIX64 = -g
# -D_NO_MPI_TIMER
LDFLAGS.IRIX64 =
HDF5_DIR.IRIX64 = /usr/local/tools/hdf5/hdf5-1.6.0/parallel
NCMPI_DIR.IRIX64 =


##################
# LINUX SETTINGS #
##################
CC.Linux = mpicc
CCFLAGS.Linux = -g -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64 #-D_MANUALLY_SET_LUSTRE_STRIPING -Wall -pedantic -D_NO_MPI_TIMER
#LDFLAGS.Linux = -L/usr/lib/mpi/mpi_gnu/lib -lmpio
#LDFLAGS.Linux = -L/usr/lib/mpi/mpi_intel/lib -lmpio
LDFLAGS.Linux =
#HDF5_DIR.Linux = /usr/local/tools/hdf5/hdf5-1.6.5/parallel
#NCMPI_DIR.Linux = /g/g0/$(shell whoami)/LIBS/INSTALLS/parallel-netcdf-1.0.2pre2/chaos_3_x86_elan3


##################
# SunOS SETTINGS #
##################
CC.SunOS = mpicc
CCFLAGS.SunOS = -g -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64
LDFLAGS.SunOS = -Llib -lmpich
HDF5_DIR.SunOS =
NCMPI_DIR.SunOS =


################
# BGL SETTINGS #
################
CC.BGL = mpgcc
CCFLAGS.BGL = -g -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
LDFLAGS.BGL =
HDF5_DIR.BGL =
NCMPI_DIR.BGL =


#########################
# OSF1 (TRU64) SETTINGS #
#########################
CC.OSF1 = /usr/local/new_mpi/bin/mpicc
CCFLAGS.OSF1 = -g -ieee
LDFLAGS.OSF1 =
HDF5_DIR.OSF1 = /usr/local/hdf5/hdf5-1.4.5/mpich-1.2.4shm/prod/bit64/shared
NCMPI_DIR.OSF1 =

################################################################################

CC = $(CC.$(OS))
CCFLAGS = $(CCFLAGS.$(OS))
LDFLAGS = $(LDFLAGS.$(OS)) -lm
CCFLAGS_HDF5 = $(CCFLAGS.$(OS)) -I$(HDF5_DIR.$(OS))/include
LDFLAGS_HDF5 = $(LDFLAGS.$(OS)) -L$(HDF5_DIR.$(OS))/lib -lhdf5 -lm -lz
CCFLAGS_NCMPI = $(CCFLAGS.$(OS)) -I$(NCMPI_DIR.$(OS))/include
LDFLAGS_NCMPI = $(LDFLAGS.$(OS)) -L$(NCMPI_DIR.$(OS))/lib -lpnetcdf -lm
